$main-bg-color: #ffd633;
$main-color: #282f42;
$disabled-color: #535357;
$secondary-bg-color: #0090ff;
$secondary-color: #ced4f8;
$modal-bg-color: rgba(124, 124, 124, 0.5);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1080px,
  xl: 1401px,
) !default;
