@import "src/global/_variables";
@import "src/global/mixins/_breakpoint";

.formContainer {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;

  .formInput {
    margin: 0 0.5vw;
  }

  .btn {
    margin: 0 0.5vw;
  }

  .disabled {
    font-weight: 400;
    margin: 0 0.5vw;
  }
}


//responsive

@include media-breakpoint-down(lg) {
  .formContainer {
    .formInput, .btn {
      font-size: 0.95em;
    }
    width: 50%
  }
}

@include media-breakpoint-down(md) {
  .formContainer {
    .formInput, .btn {
      font-size: 0.9em;
    }
  }
}

@include media-breakpoint-down(sm) {
  .formContainer {
    .formInput, .btn {
      font-size: 0.7em;
    }
    .btn {
      padding: 1vw;
    }
    .formControl {
      font-size: 1em;
      padding: 1.1vw 0.5vw;
    }
  }
}

@include media-breakpoint-down(xs) {
  .formContainer {
    margin-top: 4vw;
    width: 80vw;
    flex-direction: column;
    align-items: center;

    .formInput {
      width: 100%;
      margin-top: 10px;
    }

    .btn {
      width: 100%;
      font-size: 1em;
      padding: 5px;
      margin-top: 10px;
    }
    .formControl {
      font-size: 1.5em;
      padding: 5px;
    }
  }
}