@import "src/global/_variables";
@import "src/global/mixins/_breakpoint";

.container {
  width: 90vw;
  margin: 0 auto;
  padding: 3vw;
  .d-flex {
    align-items: center;
  }

  .total {
    margin: 0;
  }

  .list-group-item {
    padding: 1.4vw;
  }
}

//responsive

@include media-breakpoint-down(lg) {
  .container {
    .total {
      font-size: 1.2em;
    }
  }
}

@include media-breakpoint-down(md) {
  .container {
    width: 95%;
    .without-notes {
      font-size: 0.8em;
    }
    .list-group-item {
      font-size: 0.9em;
    }
  }
}

@include media-breakpoint-down(sm) {
  .container {
    .total {
      font-size: 1em;
    }
    .list-group-item {
      font-size: 0.7em;
      padding: 1vw;
    }
  }
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
    padding: 2vw;
    .d-flex {
      flex-direction: column;
      align-items: start;
    }
    .total {
      font-size: 0.8em;
    }
    .without-notes {
      font-size: 0.6em;
    }
    .list-group-item {
      font-size: 0.6em;
    }
  }
}