@import "src/global/_variables";
@import "src/global/mixins/_breakpoint";

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3vw;
  .screenTitle {
    display: flex;
    align-items: center;
    .btn {
      margin: 0.5vw 0;
    }
  }

  .total {
    margin: 0;
  }

  .listGroupItem {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .amount {
      box-sizing: border-box;
      padding-left: 10px;
      border-left: 1px solid;
      width: 20%;
    }
    .description {
      box-sizing: border-box;
      padding-left: 10px;
      width: 60%;
      max-width: 50%;
      max-height: 100px;
      overflow: auto;
      border-left: 1px solid;
    }
    .date {
      width: 25%;
    }
    padding: 1.4vw;
  }
}

//responsive

@include media-breakpoint-down(lg) {
  .container {
    .screenTitle {
      .btn {
        font-size: 0.95em;
      }
    }
    .total {
      font-size: 1.2em;
    }
  }
}

@include media-breakpoint-down(md) {
  .container {
    width: 95%;
    .screenTitle {
      .btn {
        font-size: 0.9em;
      }
    }
    .withoutNotes {
      font-size: 0.8em;
    }
    .listGroupItem {
      font-size: 0.9em;
    }
  }
}

@include media-breakpoint-down(sm) {
  .container {
    .screenTitle {
      .btn {
        padding: 1vw;
        font-size: 0.7em;
      }
    }
    .total {
      font-size: 1em;
    }
    .listGroupItem {
      font-size: 0.7em;
      padding: 1vw;
    }
  }
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
    padding: 2vw;
    .screenTitle {
      flex-direction: column;
      align-items: center;
      .btn {
        width: 100%;
        font-size: 1em;
        padding: 5px;
        margin-top: 10px;
      }
    }
    .total {
      text-align: center;
      font-size: 26px;
    }
    .withoutNotes {
      text-align: center;
      font-size: 24px;
    }
    .listGroupItem {
      align-content: stretch;
      font-size: 18px;
      .amount {
        width: 20%;
      }
      .description {
        width: 50%;
      }
      .date {
        text-align: right;
        width: 30%;
      }
    }
  }
}